.edit-show {
  width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  box-sizing: border-box;
  margin: 0 auto;
  text-align: center;
}

.edit-ref {
  width: 20%;
  margin-bottom: 50px;
}

.edit-ref h1, .edit-ref h3 {
  color: rgb(212, 175, 55);
}

.edit-ref h3:last-of-type {
  color: black;
}

.edit-show input {
  width: 40%;
  padding: 10px 25px;
  box-sizing: border-box;
  margin: 10px 0;
  border: 1px solid black;
  font-size: .85em;
}

.edit-show input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgb(212, 175, 55);
}

.edit-show input::-moz-placeholder { /* Firefox 19+ */
  color: rgb(212, 175, 55);
}

.edit-show input:-ms-input-placeholder { /* IE 10+ */
  color: rgb(212, 175, 55);
}

.edit-show input:-moz-placeholder { /* Firefox 18- */
  color: rgb(212, 175, 55);
}

.edit-show select {
  width: 40%;
  border: 1px solid black;
  padding: 10px 25px;
  margin: 10px 0;
  font-size: .85em;
  height: 40px;
  color: rgb(212, 175, 55);
}

.edit-show button {
  background-color: transparent;
  border: 1px solid black;
  padding: 15px 25px;
  margin: 25px 0;
  font-size: 1em;
  height: 4em;
}

.edit-show button:hover {
  background-color: rgb(212,175,55);
  border: 1px solid rgb(212,175,55);
  color: white;
  cursor: pointer;
}

#delete {
  padding: 5px 15px;
  margin-top: 0;
  font-size: .75em;
}

#delete:hover {
  background-color: red;
  border: 1px solid red;
}

.delete-warning {
  height: 100vh;
  width: 100vw;
  background-color: rgba(50, 50, 50, .5);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.delete-message {
  height: 150px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.delete-message p {
  margin-bottom: 20px;
}

.delete-buttons {
  display: flex;
  width: 100%;
  justify-content: center;
}

.delete-buttons button {
  margin: 0 10px;
}

.delete-buttons button:first-of-type:hover {
  background-color: red;
}

.delete-buttons button:last-of-type:hover {
  background-color: rgb(212,175,55);
}




/* ------------    MEDIA QUERIES    -------------- */


/* Large screens */
@media only screen
and (min-device-width : 1500px)
and (max-device-width : 1700px) {


}

@media only screen
and (min-device-width : 1701px)
and (max-device-width : 2000px) {


}

@media only screen
and (min-device-width : 2001px) {


}


/* iPhone 6+, 7+, 8+ */
/* Portrait */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {

.edit-ref {
  width: 80%;
  text-align: center;
}

#edit-show h1 {
  font-size: 4em;
}

#edit-show h3 {
  font-size: 3em;
}

#edit-show p {
  font-size: 2em;
}

#edit-show #delete {
  margin-right: 0;
}

#edit-show input, #edit-show select {
  width: 80%;
  height: 5em;
}

#edit-show button, #edit-show a {
  font-size: 2em;
  padding: 1em 2em;
}

#edit-show button:first-of-type {
  margin-top: 2em;
}

#edit-show .delete-buttons button {
  height: 3em;
  font-size: 1em;
  padding: .5em 1.5em;
}

#edit-show .delete-buttons button:first-of-type {
  margin-top: 0;
  margin-right: 2em;
}

#edit-show .delete-message p {
  font-size: 1em;
}

}

/* Landscape */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {

}


/* iPhone 6, 7, 8 */
/* Portrait */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

.edit-ref {
  width: 80%;
  text-align: center;
}

#edit-show h1 {
  font-size: 4em;
}

#edit-show h3 {
  font-size: 3em;
}

#edit-show p {
  font-size: 2em;
}

#edit-show #delete {
  margin-right: 0;
}

#edit-show input, #edit-show select {
  width: 80%;
  height: 5em;
}

#edit-show button, #edit-show a {
  font-size: 2em;
  padding: 1em 2em;
}

#edit-show button:first-of-type {
  margin-top: 2em;
}

#edit-show .delete-buttons button {
  height: 3em;
  font-size: 1em;
  padding: .5em 1.5em;
}

#edit-show .delete-buttons button:first-of-type {
  margin-top: 0;
  margin-right: 2em;
}

#edit-show .delete-message p {
  font-size: 1em;
}

}

/* Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}


/* iPhone 5 */
/* Portrait */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

.edit-ref {
  width: 80%;
  text-align: center;
}

#edit-show h1 {
  font-size: 4em;
}

#edit-show h3 {
  font-size: 3em;
}

#edit-show p {
  font-size: 2em;
}

#edit-show #delete {
  margin-right: 0;
}

#edit-show input, #edit-show select {
  width: 80%;
  height: 5em;
}

#edit-show button, #edit-show a {
  font-size: 2em;
  padding: 1em 2em;
}

#edit-show button:first-of-type {
  margin-top: 2em;
}

#edit-show .delete-buttons button {
  height: 3em;
  font-size: 1em;
  padding: .5em 1.5em;
}

#edit-show .delete-buttons button:first-of-type {
  margin-top: 0;
  margin-right: 2em;
}

#edit-show .delete-message p {
  font-size: 1em;
}

}

/* Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}


/* iPhone 4 */
/* Portrait */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

.edit-ref {
  width: 80%;
  text-align: center;
}

#edit-show h1 {
  font-size: 4em;
}

#edit-show h3 {
  font-size: 3em;
}

#edit-show p {
  font-size: 2em;
}

#edit-show #delete {
  margin-right: 0;
}

#edit-show input, #edit-show select {
  width: 80%;
  height: 5em;
}

#edit-show button, #edit-show a {
  font-size: 2em;
  padding: 1em 2em;
}

#edit-show button:first-of-type {
  margin-top: 2em;
}

#edit-show .delete-buttons button {
  height: 3em;
  font-size: 1em;
  padding: .5em 1.5em;
}

#edit-show .delete-buttons button:first-of-type {
  margin-top: 0;
  margin-right: 2em;
}

#edit-show .delete-message p {
  font-size: 1em;
}

}

/* Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}
