main {
  min-height: 500px;
  min-width: 1150px;
  display: flex;
  justify-content: center;
}

main div {
  width: 100%;
}

.border-component {
  width: 100%;
  border-bottom: 1px solid grey;
  border-top: 1px solid grey;
}
