footer {
  display: flex;
  padding: 75px 25px 25px 25px;
  width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
  font-family: arial;
  flex-wrap: wrap;
}

.footer-section {
  margin-right: 75px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 33%;
}

.footer-section:nth-child(3) {
  margin-top: 50px;
}

.footer-section-social {
  width: 100%;
  border-top: 1px solid grey;
  margin-top: 50px;
  display: flex;
  justify-content: flex-end;
}

.footer-section-social a {
  margin-right: 50px;
  margin-top: 25px;
}


footer h3 {
  font-size: .8em;
  margin: 0;
  margin-bottom: 10px;
  border-bottom: 1px solid grey;
  padding-bottom: 20px;
  font-weight: bold;
  color: rgb(50, 50, 50);
  letter-spacing: 2px;
}

footer p {
  margin: 7px 0;
  font-size: .75em;
  font-weight: lighter;
  color: grey;
  letter-spacing: 2px;
}

footer a {
  text-decoration: none;
  color: black;
  margin: 3px 0;
  font-size: .75em;
  font-weight: lighter;
  color: grey;
  letter-spacing: 2px;
}

footer a:hover {
  color: black;
}




/* ------------    MEDIA QUERIES    -------------- */


/* Large screens */
@media only screen
and (min-device-width : 1500px)
and (max-device-width : 1700px) {

.footer-section {
  margin-right: 100px;
}

footer h3 {
  font-size: 1em;
  font-weight: normal;
  width: 13em;
}

footer p, footer a {
  font-size: .95em;
}

}

@media only screen
and (min-device-width : 1701px)
and (max-device-width : 2000px) {

.footer-section {
  margin-right: 125px;
}

footer h3 {
  font-size: 1.25em;
  font-weight: normal;
  width: 13em;
}

footer p, footer a {
  font-size: 1.15em;
}

}

@media only screen
and (min-device-width : 2001px) {

.footer-section {
  margin-right: 175px;
}

footer h3 {
  font-size: 1.5em;
  font-weight: normal;
  width: 13em;
}

footer p, footer a {
  font-size: 1.25em;
}

}


/* iPhone 6+, 7+, 8+ */
/* Portrait */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {

.footer-section-social a {
  font-size: 1.75em;
  margin-right: 0;
  margin-left: 4em;
}

.footer {
  padding: 100px;
  flex-wrap: wrap;
}

.footer-section {
  width: 100%;
  margin-bottom: 4em;
  margin-right: 0;
}

footer h3 {
  font-size: 2em;
  font-weight: normal;
  width: 13em;
}

footer p, footer a {
  font-size: 1.75em;
}

}

/* Landscape */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {

}


/* iPhone 6, 7, 8 */
/* Portrait */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

.footer-section-social a {
  font-size: 1.75em;
  margin-right: 0;
  margin-left: 4em;
}

.footer {
  padding: 100px;
  flex-wrap: wrap;
}

.footer-section {
  width: 100%;
  margin-bottom: 4em;
  margin-right: 0;
}

footer h3 {
  font-size: 2em;
  font-weight: normal;
  width: 13em;
}

footer p, footer a {
  font-size: 1.75em;
}

}

/* Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}


/* iPhone 5 */
/* Portrait */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

.footer-section-social a {
  font-size: 1.75em;
  margin-right: 0;
  margin-left: 4em;
}

.footer {
  padding: 100px;
  flex-wrap: wrap;
}

.footer-section {
  width: 100%;
  margin-bottom: 4em;
  margin-right: 0;
}

footer h3 {
  font-size: 2em;
  font-weight: normal;
  width: 13em;
}

footer p, footer a {
  font-size: 1.75em;
}

}

/* Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}


/* iPhone 4 */
/* Portrait */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

.footer-section-social a {
  font-size: 1.75em;
  margin-right: 0;
  margin-left: 4em;
}

.footer {
  padding: 100px;
  flex-wrap: wrap;
}

.footer-section {
  width: 100%;
  margin-bottom: 4em;
  margin-right: 0;
}

footer h3 {
  font-size: 2em;
  font-weight: normal;
  width: 13em;
}

footer p, footer a {
  font-size: 1.75em;
}

}

/* Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}
