footer {
  display: flex;
  padding: 50px 25px 75px 25px;
  width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
  font-family: arial;
}

.footer-section {
  margin-right: 75px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.footer-section h3 {
  font-size: .8em;
  margin: 0;
  margin-bottom: 10px;
  border-bottom: 1px solid rgb(50, 50, 50);
  padding-bottom: 5px;
  font-weight: normal;
  color: rgb(50, 50, 50);
}

.footer-section p {
  margin: 3px 0;
  font-size: .75em;
  font-weight: lighter;
  color: grey;
}

.footer-section a {
  text-decoration: none;
  color: black;
  margin: 3px 0;
  font-size: .75em;
  font-weight: lighter;
  color: grey;
}

.footer-section a:hover {
  color: black;
}




/* ------------    MEDIA QUERIES    -------------- */


/* Large screens */
@media only screen
and (min-device-width : 1500px)
and (max-device-width : 1700px) {

.footer-section {
  margin-right: 100px;
}

.footer-section h3 {
  font-size: 1em;
}

.footer-section p, .footer-section a {
  font-size: .95em;
}

}

@media only screen
and (min-device-width : 1701px)
and (max-device-width : 2000px) {

.footer-section {
  margin-right: 125px;
}

.footer-section h3 {
  font-size: 1.25em;
}

.footer-section p, .footer-section a {
  font-size: 1.15em;
}

}

@media only screen
and (min-device-width : 2001px) {

.footer-section {
  margin-right: 175px;
}

.footer-section h3 {
  font-size: 1.5em;
}

.footer-section p, .footer-section a {
  font-size: 1.25em;
}

}


/* iPhone 6+, 7+, 8+ */
/* Portrait */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {

.footer {
  padding: 100px;
  flex-wrap: wrap;
}

.footer-section {
  width: 350px;
  margin-bottom: 4em;
}

.footer-section:nth-child(2n) {
  margin-right: 0;
}

.footer-section h3 {
  font-size: 1.5em;
}

.footer-section p, .footer-section a {
  font-size: 1.25em;
}

}

/* Landscape */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {

}


/* iPhone 6, 7, 8 */
/* Portrait */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

.footer {
  padding: 100px;
  flex-wrap: wrap;
}

.footer-section {
  width: 350px;
  margin-bottom: 4em;
}

.footer-section:nth-child(2n) {
  margin-right: 0;
}

.footer-section h3 {
  font-size: 1.5em;
}

.footer-section p, .footer-section a {
  font-size: 1.25em;
}

}

/* Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}


/* iPhone 5 */
/* Portrait */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

.footer {
  padding: 100px;
  flex-wrap: wrap;
}

.footer-section {
  width: 350px;
  margin-bottom: 4em;
}

.footer-section:nth-child(2n) {
  margin-right: 0;
}

.footer-section h3 {
  font-size: 1.5em;
}

.footer-section p, .footer-section a {
  font-size: 1.25em;
}

}

/* Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}


/* iPhone 4 */
/* Portrait */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

.footer {
  padding: 100px;
  flex-wrap: wrap;
}

.footer-section {
  width: 350px;
  margin-bottom: 4em;
}

.footer-section:nth-child(2n) {
  margin-right: 0;
}

.footer-section h3 {
  font-size: 1.5em;
}

.footer-section p, .footer-section a {
  font-size: 1.25em;
}

}

/* Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}
