footer {
  display: flex;
  padding: 50px 25px 75px 25px;
  width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
  font-family: arial;
}

.footer-section {
  margin-right: 75px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.footer-section h3 {
  font-size: .8em;
  margin: 0;
  margin-bottom: 10px;
  border-bottom: 1px solid rgb(50, 50, 50);
  padding-bottom: 5px;
  font-weight: normal;
  color: rgb(50, 50, 50);
}

.footer-section p {
  margin: 3px 0;
  font-size: .75em;
  font-weight: lighter;
}

.footer-section a {
  text-decoration: none;
  color: black;
  margin: 3px 0;
  font-size: .75em;
  font-weight: lighter;
}
