.one-product {
  background-color: white;
  width: 1200px;
  padding: 100px;
  box-sizing: border-box;
  margin: 0 auto;
}

.product-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.one-product-images {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 450px;
  width: 566.05px;
  box-sizing: border-box;
}

.one-product-sup-images {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 20%;
  height: 100%;
}

.main-img {
  height: 100%;
  width: 79.5%;
}

.sup-img {
  height: 24%;
  width: 94.22%;
}

.one-product-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 400px;
  height: 450px;
  margin-left: 25px;
}

.one-product-text h1 {
  text-transform: uppercase;
  font-weight: lighter;
}

.one-product-text p {
  line-height: 2em;
}

.one-product-text button {
  padding: 15px 25px;
  font-size: 1em;
  background-color: transparent;
  border: 1px solid black;
  height: 3em;
}

.one-product-text button:hover {
  background-color: green;
  color: white;
  cursor: pointer;
  border: 1px solid green;
}

#edit {
  margin-top: 10px;
  margin-right: 10px;
  padding: 5px 15px;
  font-size: .75em;
  background-color: transparent;
  border: 1px solid black;
  height: 3em;
}

#edit:hover {
  color: white;
  background-color: rgb(212,175,55);
  border: 1px solid rgb(212,175,55);
  cursor: pointer;
}

#delete {
  margin-top: 10px;
  padding: 5px 15px;
  font-size: .75em;
  background-color: transparent;
  border: 1px solid black;
  height: 3em;
}

#delete:hover {
  color: white;
  background-color: red;
  border: 1px solid red;
  cursor: pointer;
}

.product-edit {
  height: 0;
  opacity: 0;
  position: relative;
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  font-size: 0;
}

.product-edit input {
  width: 40%;
  padding: 10px 25px;
  box-sizing: border-box;
  margin: 10px 0;
  border: 1px solid black;
  font-size: .85em;
}

.product-edit input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgb(212, 175, 55);
}

.product-edit input::-moz-placeholder { /* Firefox 19+ */
  color: rgb(212, 175, 55);
}

.product-edit input:-ms-input-placeholder { /* IE 10+ */
  color: rgb(212, 175, 55);
}

.product-edit input:-moz-placeholder { /* Firefox 18- */
  color: rgb(212, 175, 55);
}

.product-edit select {
  width: 40%;
  border: 1px solid black;
  padding: 10px 25px;
  margin: 10px 0;
  font-size: .85em;
  height: 40px;
  color: rgb(212, 175, 55);
}

.product-edit button {
  background-color: transparent;
  border: 1px solid black;
  padding: 15px 25px;
  margin: 25px 0;
  font-size: 1em;
  height: 4em;
}

.one-product button {
  background-color: transparent;
  border: 1px solid black;
  padding: 15px 25px;
  font-size: 1em;
}

.product-edit button:hover {
  background-color: rgb(212,175,55);
  border: 1px solid rgb(212,175,55);
  color: white;
  cursor: pointer;
}

.one-product button:hover {
  background-color: rgb(212,175,55);
  border: 1px solid rgb(212,175,55);
  color: white;
  cursor: pointer;
}

.edit-selected {
  height: 1700px;
  opacity: 1;
  z-index: 1;
  font-size: .85em;
}

.drop-section {
  display: flex;
  width: 42%;
  justify-content: space-between;
  margin: 10px 0;
}

.drop-section .image-preview {
  margin-left: 35px;
  width: 200px;
  border: 1px solid grey;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.drop-section .image-preview img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.dropzone {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px dashed grey;
  height: 200px;
  width: 200px;
  text-align: center;
}

.dropzone:hover {
  cursor: pointer;
}




/* ------------    MEDIA QUERIES    -------------- */


/* Large screens */
@media only screen
and (min-device-width : 1500px)
and (max-device-width : 1700px) {

#one-product .one-product-images {
  width: 692px;
  height: 550px;
}

#one-product .one-product-text {
  height: 550px;
}

}

@media only screen
and (min-device-width : 1701px)
and (max-device-width : 2000px) {

#one-product .one-product-images {
  width: 881px;
  height: 700px;
}

#one-product .one-product-text {
  height: 700px;
}

#one-product .one-product-text h1 {
  font-size: 3em;
}

#one-product .one-product-text p {
  font-size: 1.5em;
}

#one-product .one-product-text h2 {
  font-size: 2em;
}

#one-product .one-product-text button {
  font-size: 1.5em;
  margin-top: 2em;
  padding: 20px 35px;
}

}

@media only screen
and (min-device-width : 2001px) {

#one-product .one-product-images {
  width: 1101px;
  height: 875px;
}

#one-product .one-product-text {
  height: 875px;
  width: 550px;
}

#one-product .one-product-text h1 {
  font-size: 3.5em;
}

#one-product .one-product-text p {
  font-size: 2em;
}

#one-product .one-product-text h2 {
  font-size: 2.5em;
}

#one-product .one-product-text button {
  font-size: 2em;
  margin-top: 2.5em;
  padding: 30px 55px;
}

}


/* iPhone 6+, 7+, 8+ */
/* Portrait */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {

.product-box {
  flex-wrap: wrap;
}

.one-product-images {
  flex-direction: column;
  width: 100%;
  height: 975px;
}

.one-product-text {
  width: 100%;
  height: inherit;
  order: -1;
  justify-content: flex-start;
  margin-left: 0;
  margin-bottom: 8em;
}

.one-product-text h1 {
  font-size: 3em;
}

.one-product-text p {
  font-size: 1.75em;
}

.one-product-text button {
  font-size: 2em;
  padding: 1em 2em;
}

.one-product-text h2 {
  font-size: 2.25em;
}

.one-product-images .main-img {
  width: 100%;
  height: 80%;
}

.one-product-sup-images {
  flex-direction: row;
  width: 100%;
  height: 20%;
}

.one-product-sup-images .sup-img {
  width: 24%;
  height: 94.22%;
}

#edit, #delete {
  font-size: 1.5em;
  padding: 1em 3em;
  margin-top: 2em;
  margin-right: 2em;
  height: 4em;
}

.edit-selected {
  margin-top: 5em;
  height: 3400px;
}

.product-edit h1 {
  font-size: 4em;
}

.product-edit p {
  font-size: 2em;
  margin: 1em 0;
}

.product-edit input, .product-edit select, .drop-section {
  width: 100%;
}

.product-edit input, .product-edit select {
  height: 5em;
}

.product-edit button {
  font-size: 2em;
  padding: 1.5em 3em;
  margin-top: 2em;
}

.dropzone, .drop-section .image-preview {
  height: 350px;
  width: 350px;
}

.delete-message {
  height: 400px;
  width: 80%;
  font-size: 2em;
  padding: 1em;
  text-align: center;
}

.delete-message p {
  margin-bottom: 2em;
}

#one-product .delete-buttons button {
  height: 3em;
  font-size: 1em;
  padding: .5em 1.5em;
}

#one-product .delete-buttons button:first-of-type {
  margin-top: 0;
  margin-right: 2em;
}

}

/* Landscape */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {

}


/* iPhone 6, 7, 8 */
/* Portrait */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

.product-box {
  flex-wrap: wrap;
}

.one-product-images {
  flex-direction: column;
  width: 100%;
  height: 975px;
}

.one-product-text {
  width: 100%;
  height: inherit;
  order: -1;
  justify-content: flex-start;
  margin-left: 0;
  margin-bottom: 8em;
}

.one-product-text h1 {
  font-size: 3em;
}

.one-product-text p {
  font-size: 1.75em;
}

.one-product-text button {
  font-size: 2em;
  padding: 1em 2em;
}

.one-product-text h2 {
  font-size: 2.25em;
}

.one-product-images .main-img {
  width: 100%;
  height: 80%;
}

.one-product-sup-images {
  flex-direction: row;
  width: 100%;
  height: 20%;
}

.one-product-sup-images .sup-img {
  width: 24%;
  height: 94.22%;
}

#edit, #delete {
  font-size: 1.5em;
  padding: 1em 3em;
  margin-top: 2em;
  margin-right: 2em;
  height: 4em;
}

.edit-selected {
  margin-top: 5em;
  height: 3400px;
}

.product-edit h1 {
  font-size: 4em;
}

.product-edit p {
  font-size: 2em;
  margin: 1em 0;
}

.product-edit input, .product-edit select, .drop-section {
  width: 100%;
}

.product-edit input, .product-edit select {
  height: 5em;
}

.product-edit button {
  font-size: 2em;
  padding: 1.5em 3em;
  margin-top: 2em;
}

.dropzone, .drop-section .image-preview {
  height: 350px;
  width: 350px;
}

.delete-message {
  height: 400px;
  width: 80%;
  font-size: 2em;
  padding: 1em;
  text-align: center;
}

.delete-message p {
  margin-bottom: 2em;
}

#one-product .delete-buttons button {
  height: 3em;
  font-size: 1em;
  padding: .5em 1.5em;
}

#one-product .delete-buttons button:first-of-type {
  margin-top: 0;
  margin-right: 2em;
}

}

/* Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}


/* iPhone 5 */
/* Portrait */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

.product-box {
  flex-wrap: wrap;
}

.one-product-images {
  flex-direction: column;
  width: 100%;
  height: 975px;
}

.one-product-text {
  width: 100%;
  height: inherit;
  order: -1;
  justify-content: flex-start;
  margin-left: 0;
  margin-bottom: 8em;
}

.one-product-text h1 {
  font-size: 3em;
}

.one-product-text p {
  font-size: 1.75em;
}

.one-product-text button {
  font-size: 2em;
  padding: 1em 2em;
}

.one-product-text h2 {
  font-size: 2.25em;
}

.one-product-images .main-img {
  width: 100%;
  height: 80%;
}

.one-product-sup-images {
  flex-direction: row;
  width: 100%;
  height: 20%;
}

.one-product-sup-images .sup-img {
  width: 24%;
  height: 94.22%;
}

#edit, #delete {
  font-size: 1.5em;
  padding: 1em 3em;
  margin-top: 2em;
  margin-right: 2em;
  height: 4em;
}

.edit-selected {
  margin-top: 5em;
  height: 3400px;
}

.product-edit h1 {
  font-size: 4em;
}

.product-edit p {
  font-size: 2em;
  margin: 1em 0;
}

.product-edit input, .product-edit select, .drop-section {
  width: 100%;
}

.product-edit input, .product-edit select {
  height: 5em;
}

.product-edit button {
  font-size: 2em;
  padding: 1.5em 3em;
  margin-top: 2em;
}

.dropzone, .drop-section .image-preview {
  height: 350px;
  width: 350px;
}

.delete-message {
  height: 400px;
  width: 80%;
  font-size: 2em;
  padding: 1em;
  text-align: center;
}

.delete-message p {
  margin-bottom: 2em;
}

#one-product .delete-buttons button {
  height: 3em;
  font-size: 1em;
  padding: .5em 1.5em;
}

#one-product .delete-buttons button:first-of-type {
  margin-top: 0;
  margin-right: 2em;
}

}

/* Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}


/* iPhone 4 */
/* Portrait */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

.product-box {
  flex-wrap: wrap;
}

.one-product-images {
  flex-direction: column;
  width: 100%;
  height: 975px;
}

.one-product-text {
  width: 100%;
  height: inherit;
  order: -1;
  justify-content: flex-start;
  margin-left: 0;
  margin-bottom: 8em;
}

.one-product-text h1 {
  font-size: 3em;
}

.one-product-text p {
  font-size: 1.75em;
}

.one-product-text button {
  font-size: 2em;
  padding: 1em 2em;
}

.one-product-text h2 {
  font-size: 2.25em;
}

.one-product-images .main-img {
  width: 100%;
  height: 80%;
}

.one-product-sup-images {
  flex-direction: row;
  width: 100%;
  height: 20%;
}

.one-product-sup-images .sup-img {
  width: 24%;
  height: 94.22%;
}

#edit, #delete {
  font-size: 1.5em;
  padding: 1em 3em;
  margin-top: 2em;
  margin-right: 2em;
  height: 4em;
}

.edit-selected {
  margin-top: 5em;
  height: 3400px;
}

.product-edit h1 {
  font-size: 4em;
}

.product-edit p {
  font-size: 2em;
  margin: 1em 0;
}

.product-edit input, .product-edit select, .drop-section {
  width: 100%;
}

.product-edit input, .product-edit select {
  height: 5em;
}

.product-edit button {
  font-size: 2em;
  padding: 1.5em 3em;
  margin-top: 2em;
}

.dropzone, .drop-section .image-preview {
  height: 350px;
  width: 350px;
}

.delete-message {
  height: 400px;
  width: 80%;
  font-size: 2em;
  padding: 1em;
  text-align: center;
}

.delete-message p {
  margin-bottom: 2em;
}

#one-product .delete-buttons button {
  height: 3em;
  font-size: 1em;
  padding: .5em 1.5em;
}

#one-product .delete-buttons button:first-of-type {
  margin-top: 0;
  margin-right: 2em;
}

}

/* Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}
