.category h1, .category h2 {
  text-transform: uppercase;
  font-weight: lighter;
}

.category {
  width: 100%;
}

.available, .sold-items {
  display: flex;
  flex-flow: row wrap;
}

.category img {
  height: 330px;
  width: 330px;
}

.category-title {
  display: block;
  width: 100%;
  text-align: center;
  margin: 50px 0 75px 0;
}

.category h2 {
  margin: 100px 0 25px 0;
}
