.shows {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-weight: lighter;
  padding: 50px 0 100px 0;
}

.shows h2 {
  margin-top: 50px;
  margin-left: 25px;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: lighter;
}

.upcoming, .past {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  width: 95%;
  margin: 0 auto;
}

.past {
  margin-bottom: 50px;
}

.shows button {
  margin: 10px 0;
  border: 1px solid black;
  padding: 5px 15px;
  background-color: transparent;
  height: 3em;
  text-decoration: none;
}

.shows button:hover {
  border: 1px solid rgb(212,175,55);
  background-color: rgb(212,175,55);
  color: white;
  cursor: pointer;
}

.dragged {
  opacity: 0.7;
}

.placeholder {
  opacity: 0.1;
  background-color: gold;
}




/* ------------    MEDIA QUERIES    -------------- */


/* Large screens */
@media only screen
and (min-device-width : 1500px)
and (max-device-width : 1700px) {


}

@media only screen
and (min-device-width : 1701px)
and (max-device-width : 2000px) {


}

@media only screen
and (min-device-width : 2001px) {


}


/* iPhone 6+, 7+, 8+ */
/* Portrait */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {


#shows {
  width: 80%;
}

#shows h2 {
  font-size: 3em;
  margin-left: 0;
}

#shows .upcoming, #shows .past {
  margin: 1em 0;
  width: 100%;
}

#shows .show {
  width: 50%;
  padding-right: 75px;
}

#shows .past-show {
  width: 33%;
}

#shows .past-show:nth-child(3n) {
  margin-right: 0;
}

#shows .show h1, #shows .past-show h1 {
  font-size: 2.25em;
}

#shows .show h3, #shows .past-show h3 {
  font-size: 1.5em;
}

#shows .show p, #shows .past-show p {
  font-size: 1.35em;
}

#shows .show button, #shows .past-show button {
  font-size: 1.25em;
  padding: .5em 2em;
  margin-top: 2em;
}

}

/* Landscape */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {

}


/* iPhone 6, 7, 8 */
/* Portrait */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {


#shows {
  width: 80%;
}

#shows h2 {
  font-size: 3em;
  margin-left: 0;
}

#shows .upcoming, #shows .past {
  margin: 1em 0;
  width: 100%;
}

#shows .show {
  width: 50%;
  padding-right: 75px;
}

#shows .past-show {
  width: 33%;
}

#shows .past-show:nth-child(3n) {
  margin-right: 0;
}

#shows .show h1, #shows .past-show h1 {
  font-size: 2.25em;
}

#shows .show h3, #shows .past-show h3 {
  font-size: 1.5em;
}

#shows .show p, #shows .past-show p {
  font-size: 1.35em;
}

#shows .show button, #shows .past-show button {
  font-size: 1.25em;
  padding: .5em 2em;
  margin-top: 2em;
}

}

/* Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}


/* iPhone 5 */
/* Portrait */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {


#shows {
  width: 80%;
}

#shows h2 {
  font-size: 3em;
  margin-left: 0;
}

#shows .upcoming, #shows .past {
  margin: 1em 0;
  width: 100%;
}

#shows .show {
  width: 50%;
  padding-right: 75px;
}

#shows .past-show {
  width: 33%;
}

#shows .past-show:nth-child(3n) {
  margin-right: 0;
}

#shows .show h1, #shows .past-show h1 {
  font-size: 2.25em;
}

#shows .show h3, #shows .past-show h3 {
  font-size: 1.5em;
}

#shows .show p, #shows .past-show p {
  font-size: 1.35em;
}

#shows .show button, #shows .past-show button {
  font-size: 1.25em;
  padding: .5em 2em;
  margin-top: 2em;
}

}

/* Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}


/* iPhone 4 */
/* Portrait */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {


#shows {
  width: 80%;
}

#shows h2 {
  font-size: 3em;
  margin-left: 0;
}

#shows .upcoming, #shows .past {
  margin: 1em 0;
  width: 100%;
}

#shows .show {
  width: 50%;
  padding-right: 75px;
}

#shows .past-show {
  width: 33%;
}

#shows .past-show:nth-child(3n) {
  margin-right: 0;
}

#shows .show h1, #shows .past-show h1 {
  font-size: 2.25em;
}

#shows .show h3, #shows .past-show h3 {
  font-size: 1.5em;
}

#shows .show p, #shows .past-show p {
  font-size: 1.35em;
}

#shows .show button, #shows .past-show button {
  font-size: 1.25em;
  padding: .5em 2em;
  margin-top: 2em;
}

}

/* Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}
