.shows {
  width: 1100px;
  margin: 0 auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-weight: lighter;
  padding-bottom: 50px;
}

.shows h2 {
  margin-top: 50px;
  margin-left: 25px;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: lighter;
}

.upcoming, .past {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  width: 95%;
  margin: 0 auto;
}

.past {
  margin-bottom: 50px;
}

.shows button {
  margin: 10px 0;
  border: 1px solid black;
  padding: 5px 15px;
  background-color: transparent;
}

.shows button:hover {
  border: 1px solid rgb(212,175,55);
  background-color: rgb(212,175,55);
  color: white;
  cursor: pointer;
}

.dragged {
  opacity: 0.7;
}

.placeholder {
  opacity: 0.1;
  background-color: gold;
}
