body {
  margin: 0;
  min-width: 1250px;
}

h1 {
  font-family: 'Libre Baskerville', serif;
  letter-spacing: 4px;
}

.serif {
  font-family: 'Libre Baskerville', serif;
}

h2, h3, p, a {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1px;
  font-weight: lighter;
}




/* ------------    MEDIA QUERIES    -------------- */


/* Large screens */
@media only screen
and (min-device-width : 1500px)
and (max-device-width : 1700px) {


}

@media only screen
and (min-device-width : 1701px)
and (max-device-width : 2000px) {


}

@media only screen
and (min-device-width : 2001px) {


}


/* iPhone 6+, 7+, 8+ */
/* Portrait */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {


}

/* Landscape */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {

body {
  width: 1250px;
}

}


/* iPhone 6, 7, 8 */
/* Portrait */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {


}

/* Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

body {
  width: 1250px;
}

}


/* iPhone 5 */
/* Portrait */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {


}

/* Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

body {
  width: 1250px;
}

}


/* iPhone 4 */
/* Portrait */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {


}

/* Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

body {
  width: 1250px;
}

}
