.product {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-right: 3%;
}

.product:hover {
  cursor: pointer;
}

.product h1 {
  letter-spacing: 3px;
}

.product h1, .product p {
  font-size: .9em;
}
