header {
  width: 1200px;
  margin: 0 auto;
  padding: 15px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.logo {
  height: 60px;
  width: 250px;
  background-image: url('./../../../../public/images/good_antiques.png');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
}

header a {
  text-decoration: none;
}

nav {
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: grey;
  text-transform: uppercase;
  font-size: .75em;
  font-family: arial;
}

nav a:hover {
  color: black;
}



/* ------------    MEDIA QUERIES    -------------- */


/* Large screens */
@media only screen
and (min-device-width : 1500px)
and (max-device-width : 1700px) {

.logo {
  width: 320px;
  height: 100px;
}

nav a {
  font-size: 1em;
}

}

@media only screen
and (min-device-width : 1701px)
and (max-device-width : 2000px) {

.logo {
  width: 400px;
  height: 150px;
}

nav {
  width: 600px;
}

nav a {
  font-size: 1.25em;
}

}

@media only screen
and (min-device-width : 2001px) {

.logo {
  width: 500px;
  height: 150px;
}

nav {
  width: 700px;
}

nav a {
  font-size: 1.5em;
}

}


/* iPhone 6+, 7+, 8+ */
/* Portrait */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {


}

/* Landscape */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {

}


/* iPhone 6, 7, 8 */
/* Portrait */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {


}

/* Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}


/* iPhone 5 */
/* Portrait */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {


}

/* Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}


/* iPhone 4 */
/* Portrait */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {


}

/* Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}
