.about {
  background-image: url("./../../../../../public/images/about-page.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: 100%;
  padding: 75px 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-text {
  background-color: rgba(50, 50, 50, .5);
  color: white;
  padding: 50px;
  border-radius: 1em;
  width: 800px;
}

.about-text h1 {
  font-size: 2.5em;
  margin-top: 0;
  font-weight: lighter;
}

.about-text p {
  font-size: 1em;
  line-height: 1.75em;
}

.about-description {
  margin-bottom: 65px;
}

.about-meet h2 {
  font-size: 1.25em;
  font-weight: lighter;
}

.family-photo {
  height: 200px;
  width: 200px;
  border-radius: 100%;
  background-size: 100%;
  background-position: center;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

#christine{
  background-image: url("./../../../../../public/images/christine.jpg");
}

#tim {
  background-image: url("./../../../../../public/images/tim.jpg");
}

#tom {
  background-image: url("./../../../../../public/images/tom.jpg");
}

#steven {
  background-image: url("./../../../../../public/images/steven.jpg");
}

#kathy {
  background-image: url("./../../../../../public/images/kathy.jpg");
}

#kristie {
  background-image: url("./../../../../../public/images/kristie.jpg");
}

.family-member {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 0;
}

.family-text {
  width: 70%;
}




/* ------------    MEDIA QUERIES    -------------- */


/* Large screens */
@media only screen
and (min-device-width : 1500px)
and (max-device-width : 1700px) {


}

@media only screen
and (min-device-width : 1701px)
and (max-device-width : 2000px) {

.about-text {
  width: 1000px;
}

.about-text p {
  font-size: 1.35em;
}

.about-text h2 {
  font-size: 1.5em;
}

.family-photo {
  width: 250px;
  height: 250px;
}

}

@media only screen
and (min-device-width : 2001px) {

.about-text {
  width: 1500px;
}

.about-text h1 {
  font-size: 2.5em;
}

.about-text p {
  font-size: 1.75em;
}

.about-text h2 {
  font-size: 2em;
}

.family-photo {
  width: 300px;
  height: 300px;
}

}


/* iPhone 6+, 7+, 8+ */
/* Portrait */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {

.about {
  background-image: none;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}

.about-text {
  background-color: transparent;
  width: 80%;
}

.about-text h1 {
  color: black;
  font-size: 3em;
}

.about-text p {
  color: grey;
  font-size: 1.5em;
}

.family-text {
  width: 100%;
}

.family-text h2 {
  color: black;
  font-size: 2em;
}

.family-text p {
  font-size: 1.5em;
}

.family-photo {
  width: 0;
  height: 0;
}

}

/* Landscape */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {

}


/* iPhone 6, 7, 8 */
/* Portrait */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

.about {
  background-image: none;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}

.about-text {
  background-color: transparent;
  width: 80%;
}

.about-text h1 {
  color: black;
  font-size: 3em;
}

.about-text p {
  color: grey;
  font-size: 1.5em;
}

.family-text {
  width: 100%;
}

.family-text h2 {
  color: black;
  font-size: 2em;
}

.family-text p {
  font-size: 1.5em;
}

.family-photo {
  width: 0;
  height: 0;
}

}

/* Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}


/* iPhone 5 */
/* Portrait */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

.about {
  background-image: none;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}

.about-text {
  background-color: transparent;
  width: 80%;
}

.about-text h1 {
  color: black;
  font-size: 3em;
}

.about-text p {
  color: grey;
  font-size: 1.5em;
}

.family-text {
  width: 100%;
}

.family-text h2 {
  color: black;
  font-size: 2em;
}

.family-text p {
  font-size: 1.5em;
}

.family-photo {
  width: 0;
  height: 0;
}

}

/* Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}


/* iPhone 4 */
/* Portrait */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

.about {
  background-image: none;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}

.about-text {
  background-color: transparent;
  width: 80%;
}

.about-text h1 {
  color: black;
  font-size: 3em;
}

.about-text p {
  color: grey;
  font-size: 1.5em;
}

.family-text {
  width: 100%;
}

.family-text h2 {
  color: black;
  font-size: 2em;
}

.family-text p {
  font-size: 1.5em;
}

.family-photo {
  width: 0;
  height: 0;
}

}

/* Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}
