.buy-page {
  width: 1200px;
  padding: 5%;
  box-sizing: border-box;
  margin: 0 auto;
}

    .buy-page h1 {
      margin-bottom: 40px;
      letter-spacing: 2px;
      font-weight: lighter;
      margin-left: 40px;
    }

    .buy-page h2 {
      font-size: 20px;
      margin-bottom: 20px;
      margin-left: 40px;
      display: block;
      width: 80%;
      color: rgb(60, 60, 60);
    }

    .buy-page p {
      font-size: 15px;
      margin-bottom: 60px;
      margin-left: 40px;
      display: block;
      width: 85%;
      color: rgb(100, 100, 100);
      line-height: 2em;
    }

    #disclaimer {
      margin-bottom: 40px;
    }

    #faq {
      margin-top: 80px;
      padding-bottom: 5px;
      border-bottom: 1px solid black;
      width: fit-content;
    }

    .buy-page a {
      color: blue;
      font-size: 17px;
    }




/* ------------    MEDIA QUERIES    -------------- */


/* Large screens */
@media only screen
and (min-device-width : 1500px)
and (max-device-width : 1700px) {

.buy-page {
  width: 1500px;
}

.buy-page p {
  font-size: 1.25em;
}

}

@media only screen
and (min-device-width : 1701px)
and (max-device-width : 2000px) {

.buy-page {
  width: 1700px;
}

.buy-page p {
  font-size: 1.5em;
}

.buy-page h2 {
  font-size: 1.75em;
}

}

@media only screen
and (min-device-width : 2001px) {

.buy-page {
  width: 2000px;
}

.buy-page p {
  font-size: 1.75em;
}

.buy-page h2 {
  font-size: 2em;
}

}


/* iPhone 6+, 7+, 8+ */
/* Portrait */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {

.buy-page {
  width: 80%;
  padding: 4em 0;
}

.buy-page h1, .buy-page h2, .buy-page p {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

.buy-page h1 {
  font-size: 3em;
}

.buy-page h2 {
  font-size: 2em;
}

.buy-page p, .buy-page a {
  font-size: 1.5em;
}

}

/* Landscape */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {

}


/* iPhone 6, 7, 8 */
/* Portrait */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

.buy-page {
  width: 80%;
  padding: 4em 0;
}

.buy-page h1, .buy-page h2, .buy-page p {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

.buy-page h1 {
  font-size: 3em;
}

.buy-page h2 {
  font-size: 2em;
}

.buy-page p, .buy-page a {
  font-size: 1.5em;
}

}

/* Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}


/* iPhone 5 */
/* Portrait */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

.buy-page {
  width: 80%;
  padding: 4em 0;
}

.buy-page h1, .buy-page h2, .buy-page p {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

.buy-page h1 {
  font-size: 3em;
}

.buy-page h2 {
  font-size: 2em;
}

.buy-page p, .buy-page a {
  font-size: 1.5em;
}

}

/* Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}


/* iPhone 4 */
/* Portrait */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

.buy-page {
  width: 80%;
  padding: 4em 0;
}

.buy-page h1, .buy-page h2, .buy-page p {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

.buy-page h1 {
  font-size: 3em;
}

.buy-page h2 {
  font-size: 2em;
}

.buy-page p, .buy-page a {
  font-size: 1.5em;
}

}

/* Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}
