.show, .draggable {
  width: 33%;
  padding-right: 100px;
  box-sizing: border-box;
}

.draggable .show {
  width: 100%;
  padding-right: 0;
}

.show h1, .show h3 {
  color: rgb(212,175,55);
  font-weight: lighter;
}

.show h3:last-of-type {
  color: black;
  text-transform: uppercase;
}

.show a {
  color: black;
  margin-left: 2px;
}

.move {
  display: flex;
}

.move p:first-of-type {
  margin-right: 10px;
}

.move p:hover {
  cursor: pointer;
}

.upcoming, .past, .List {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  width: 95%;
  margin: 0 auto;
}
