.admin {
  width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding-top: 25px;
  text-align: center;
}

.admin h1 {
  font-weight: lighter;
}

.create-product, .create-show {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  margin: 0 auto 50px auto;
}

.admin input {
  width: 100%;
  padding: 10px 25px;
  box-sizing: border-box;
  margin: 10px 0;
  border: 1px solid black;
  font-size: .85em;
}

.admin input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgb(212, 175, 55);
}

.admin input::-moz-placeholder { /* Firefox 19+ */
  color: rgb(212, 175, 55);
}

.admin input:-ms-input-placeholder { /* IE 10+ */
  color: rgb(212, 175, 55);
}

.admin input:-moz-placeholder { /* Firefox 18- */
  color: rgb(212, 175, 55);
}

.admin select {
  width: 100%;
  border: 1px solid black;
  padding: 10px 25px;
  margin: 10px 0;
  font-size: .85em;
  height: 40px;
  color: rgb(212, 175, 55);
}

.admin button {
  background-color: transparent;
  border: 1px solid black;
  padding: 15px 25px;
  margin: 25px 0;
  font-size: 1em;
  height: 4em;
}

.admin button:hover {
  background-color: rgb(212,175,55);
  border: 1px solid rgb(212,175,55);
  color: white;
  cursor: pointer;
}

.image-uploader {
  display: flex;
  margin: 20px 0;
}

.image-uploader .image-preview {
  margin-left: 35px;
  width: 220px;
  border: 1px solid grey;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.image-uploader .image-preview img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.create-product .dropzone {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px dashed grey;
  height: 220px;
  width: 220px;
  text-align: center;
}

.dropzone:hover {
  cursor: pointer;
}




/* ------------    MEDIA QUERIES    -------------- */


/* Large screens */
@media only screen
and (min-device-width : 1500px)
and (max-device-width : 1700px) {

.image-uploader {
  justify-content: center;
}

}

@media only screen
and (min-device-width : 1701px)
and (max-device-width : 2000px) {

.image-uploader {
  justify-content: center;
}

}

@media only screen
and (min-device-width : 2001px) {

.image-uploader {
  justify-content: center;
}

}


/* iPhone 6+, 7+, 8+ */
/* Portrait */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {

.create-product, .create-show {
  width: 80%;
}

.admin h1 {
  font-size: 3em;
}

.admin p {
  font-size: 2em;
  margin-top: 1em;
  margin-bottom: .5em;
}

.admin input, .admin select {
  height: 5em;
}

.admin button {
  font-size: 2em;
  padding: 1em 3em;
}

.admin .dropzone, .admin .image-preview {
  height: 350px;
  width: 350px;
}

.admin .dropzone {
  margin-right: 50px;
}

}

/* Landscape */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {

}


/* iPhone 6, 7, 8 */
/* Portrait */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

.create-product, .create-show {
  width: 80%;
}

.admin h1 {
  font-size: 3em;
}

.admin p {
  font-size: 2em;
  margin-top: 1em;
  margin-bottom: .5em;
}

.admin input, .admin select {
  height: 5em;
}

.admin button {
  font-size: 2em;
  padding: 1em 3em;
}

.admin .dropzone, .admin .image-preview {
  height: 350px;
  width: 350px;
}

.admin .dropzone {
  margin-right: 50px;
}

}

/* Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}


/* iPhone 5 */
/* Portrait */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

.create-product, .create-show {
  width: 80%;
}

.admin h1 {
  font-size: 3em;
}

.admin p {
  font-size: 2em;
  margin-top: 1em;
  margin-bottom: .5em;
}

.admin input, .admin select {
  height: 5em;
}

.admin button {
  font-size: 2em;
  padding: 1em 3em;
}

.admin .dropzone, .admin .image-preview {
  height: 350px;
  width: 350px;
}

.admin .dropzone {
  margin-right: 50px;
}

}

/* Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}


/* iPhone 4 */
/* Portrait */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

.create-product, .create-show {
  width: 80%;
}

.admin h1 {
  font-size: 3em;
}

.admin p {
  font-size: 2em;
  margin-top: 1em;
  margin-bottom: .5em;
}

.admin input, .admin select {
  height: 5em;
}

.admin button {
  font-size: 2em;
  padding: 1em 3em;
}

.admin .dropzone, .admin .image-preview {
  height: 350px;
  width: 350px;
}

.admin .dropzone {
  margin-right: 50px;
}

}

/* Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}
