.signup {
  width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 125px 0;
  margin: 0 auto;
}

.signup h1 {
  font-weight: lighter;
  margin: 0 0 10px 0;
}

.signup input {
  width: 30%;
  padding: 10px 35px;
  box-sizing: border-box;
  margin: 10px 0;
  border: 1px solid black;
  font-size: .85em;
}

.signup input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgb(212, 175, 55);
}

.signup input::-moz-placeholder { /* Firefox 19+ */
  color: rgb(212, 175, 55);
}

.signup input:-ms-input-placeholder { /* IE 10+ */
  color: rgb(212, 175, 55);
}

.signup input:-moz-placeholder { /* Firefox 18- */
  color: rgb(212, 175, 55);
}

.signup button {
  background-color: transparent;
  border: 1px solid black;
  padding: 10px 35px;
  margin-top: 10px;
  margin-bottom: 25px;
  font-size: 1em;
}

.signup button:hover {
  background-color: rgb(212,175,55);
  border: 1px solid rgb(212,175,55);
  color: white;
  cursor: pointer;
}
