.signup {
  width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 125px 0;
  margin: 0 auto;
  text-align: center;
}

.signup h1 {
  font-weight: lighter;
  margin: 0 0 10px 0;
}

.signup input {
  width: 30%;
  padding: 10px 35px;
  box-sizing: border-box;
  margin: 10px 0;
  border: 1px solid black;
  font-size: .85em;
}

.signup input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgb(212, 175, 55);
}

.signup input::-moz-placeholder { /* Firefox 19+ */
  color: rgb(212, 175, 55);
}

.signup input:-ms-input-placeholder { /* IE 10+ */
  color: rgb(212, 175, 55);
}

.signup input:-moz-placeholder { /* Firefox 18- */
  color: rgb(212, 175, 55);
}

.signup button {
  background-color: transparent;
  border: 1px solid black;
  padding: 10px 35px;
  margin-top: 10px;
  margin-bottom: 25px;
  font-size: 1em;
  height: 4em;
}

.signup button:hover {
  background-color: rgb(212,175,55);
  border: 1px solid rgb(212,175,55);
  color: white;
  cursor: pointer;
}




/* ------------    MEDIA QUERIES    -------------- */


/* Large screens */
@media only screen
and (min-device-width : 1500px)
and (max-device-width : 1700px) {


}

@media only screen
and (min-device-width : 1701px)
and (max-device-width : 2000px) {


}

@media only screen
and (min-device-width : 2001px) {


}


/* iPhone 6+, 7+, 8+ */
/* Portrait */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {


.signup {
  height: 500px;
}

.signup h1 {
  font-size: 4em;
  margin-bottom: 2em;
}

.signup input {
  width: 50%;
}

.signup button {
  font-size: 1.5em;
  padding: 1em 3em;
}

}

/* Landscape */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {

}


/* iPhone 6, 7, 8 */
/* Portrait */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {


.signup {
  height: 500px;
}

.signup h1 {
  font-size: 4em;
  margin-bottom: 2em;
}

.signup input {
  width: 50%;
}

.signup button {
  font-size: 1.5em;
  padding: 1em 3em;
}

}

/* Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}


/* iPhone 5 */
/* Portrait */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {


.signup {
  height: 500px;
}

.signup h1 {
  font-size: 4em;
  margin-bottom: 2em;
}

.signup input {
  width: 50%;
}

.signup button {
  font-size: 1.5em;
  padding: 1em 3em;
}

}

/* Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}


/* iPhone 4 */
/* Portrait */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {


.signup {
  height: 500px;
}

.signup h1 {
  font-size: 4em;
  margin-bottom: 2em;
}

.signup input {
  width: 50%;
}

.signup button {
  font-size: 1.5em;
  padding: 1em 3em;
}

}

/* Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}


