.sold {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-right: 3%;
}

.sold h1 {
  letter-spacing: 3px;
}

.sold h1, p {
  font-size: .9em;
}
