.store {
  width: 1200px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 50px 25px;
  margin: 0 auto;
}

.store nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.store-nav-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.store nav a{
  margin: 0 25px;
  font-size: 1em;
}

.store button {
  margin: 10px 0;
  border: 1px solid black;
  padding: 5px 15px;
  background-color: transparent;
}

.store button:hover {
  border: 1px solid rgb(212,175,55);
  background-color: rgb(212,175,55);
  color: white;
  cursor: pointer;
}




/* ------------    MEDIA QUERIES    -------------- */


/* Large screens */
@media only screen
and (min-device-width : 1500px)
and (max-device-width : 1700px) {

#store nav a {
  font-size: 1.35em;
}

#store .product {
  margin-bottom: 70px;
}

#store .product h1 {
  margin-top: 30px;
}

#store .product h1, #store .product p, #store .sold h1, #store .sold p {
  font-size: 1.1em;
}

}

@media only screen
and (min-device-width : 1701px)
and (max-device-width : 2000px) {

#store nav a {
  font-size: 1.5em;
}

#store .product, #store .sold {
  margin-bottom: 70px;
}

#store .category-title {
  font-size: 2.5em;
}

#store .category h2 {
  font-size: 2em;
}

#store .product h1, #store .sold h1 {
  margin-top: 30px;
}

#store .product h1, #store .product p, #store .sold h1, #store .sold p {
  font-size: 1.35em;
}

}

@media only screen
and (min-device-width : 2001px) {

#store nav a {
  font-size: 1.75em;
}

#store .product, #store .sold {
  margin-bottom: 100px;
}

#store .category-title {
  font-size: 3em;
}

#store .category h2 {
  font-size: 2.5em;
}

#store .product h1, #store .sold h1 {
  margin-top: 50px;
}

#store .product h1, #store .product p, #store .sold h1, #store .sold p {
  font-size: 1.5em;
}

}


/* iPhone 6+, 7+, 8+ */
/* Portrait */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {

.store nav a {
  font-size: 1.65em;
  line-height: 2.5em;
  letter-spacing: 2px;
  margin: .5em 1em;
}

.large-nav p {
  font-size: 0;
}

.store nav p:nth-of-type(2) {
  font-size: 0;
}

.store-nav-section {
  flex-wrap: wrap;
  margin: 0;
  width: 80%;
}

#store h1 {
  font-size: 3.5em;
  margin-top: 2em;
}

#store h2 {
  margin-left: 2em;
  font-size: 3em;
  margin-bottom: 1em;
}

#store .product, #store .sold {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 6em;
}

#store .product h1, #store .sold h1 {
  font-size: 2.5em;
  margin-top: 1em;
}

#store .product p, #store .sold p {
  font-size: 2em;
}

}

/* Landscape */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {

}


/* iPhone 6, 7, 8 */
/* Portrait */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

.store nav a {
  font-size: 1.65em;
  line-height: 2.5em;
  letter-spacing: 2px;
  margin: .5em 1em;
}

.large-nav p {
  font-size: 0;
}

.store nav p:nth-of-type(2) {
  font-size: 0;
}

.store-nav-section {
  flex-wrap: wrap;
  margin: 0;
  width: 80%;
}

#store h1 {
  font-size: 3.5em;
  margin-top: 2em;
}

#store h2 {
  margin-left: 2em;
  font-size: 3em;
  margin-bottom: 1em;
}

#store .product, #store .sold {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 6em;
}

#store .product h1, #store .sold h1 {
  font-size: 2.5em;
  margin-top: 1em;
}

#store .product p, #store .sold p {
  font-size: 2em;
}

}

/* Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}


/* iPhone 5 */
/* Portrait */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

.store nav a {
  font-size: 1.65em;
  line-height: 2.5em;
  letter-spacing: 2px;
  margin: .5em 1em;
}

.large-nav p {
  font-size: 0;
}

.store nav p:nth-of-type(2) {
  font-size: 0;
}

.store-nav-section {
  flex-wrap: wrap;
  margin: 0;
  width: 80%;
}

#store h1 {
  font-size: 3.5em;
  margin-top: 2em;
}

#store h2 {
  margin-left: 2em;
  font-size: 3em;
  margin-bottom: 1em;
}

#store .product, #store .sold {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 6em;
}

#store .product h1, #store .sold h1 {
  font-size: 2.5em;
  margin-top: 1em;
}

#store .product p, #store .sold p {
  font-size: 2em;
}

}

/* Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}


/* iPhone 4 */
/* Portrait */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

.store nav a {
  font-size: 1.65em;
  line-height: 2.5em;
  letter-spacing: 2px;
  margin: .5em 1em;
}

.large-nav p {
  font-size: 0;
}

.store nav p:nth-of-type(2) {
  font-size: 0;
}

.store-nav-section {
  flex-wrap: wrap;
  margin: 0;
  width: 80%;
}

#store h1 {
  font-size: 3.5em;
  margin-top: 2em;
}

#store h2 {
  margin-left: 2em;
  font-size: 3em;
  margin-bottom: 1em;
}

#store .product, #store .sold {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 6em;
}

#store .product h1, #store .sold h1 {
  font-size: 2.5em;
  margin-top: 1em;
}

#store .product p, #store .sold p {
  font-size: 2em;
}

}

/* Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}
