.map {
  width: 100%;
  background-image: url('./../../../../../public/images/map-page.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  box-sizing: border-box;
}

.map-info {
  width: 1000px;
  background-color: rgba(50, 50, 50, .6);
  color: white;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.store-info {
  text-align: center;
  margin-left: 25px;
  width: auto;
}

.store-info h1 {
  font-size: 2.5em;
  font-weight: lighter;
  margin: 15px 0;
}

.store-info h1:first-of-type {
  margin-top: 0;
}

.store-info p {
  font-family: arial;
  line-height: 1.5em;
}

#map-line {
  height: 450px;
  width: 1px;
  border-left: 1px solid white;
}

.map-container {
  height: 400px;
  width: 600px;
  border: 1px solid white;
}

.map-container div:only-child {
  position: relative !important;
}


#google-maps {
  background-color: transparent;
  border: 1px solid white;
  padding: 15px 25px;
  font-size: 1em;
  color: white;
  font-family: georgia;
  text-decoration: none;
  margin: 25px 0;
  border-radius: .2em;
  display: block;
}

#google-maps:hover {
  border: none;
  background-color: white;
  color: black;
}




/* ------------    MEDIA QUERIES    -------------- */


/* Large screens */
@media only screen
and (min-device-width : 1500px)
and (max-device-width : 1700px) {

#map {
  padding: 100px 0;
}

}

@media only screen
and (min-device-width : 1701px)
and (max-device-width : 2000px) {

#map {
  padding: 100px 0;
}

.map-info {
  width: 1300px;
  padding: 100px;
}

#map-line {
  height: 550px;
}

.map-container {
  height: 600px;
  width: 800px;
}

.store-info p {
  font-size: 1.5em;
}

#google-maps {
  font-size: 1.5em;
}

}

@media only screen
and (min-device-width : 2001px) {

#map {
  padding: 150px 0;
}

.map-info {
  width: 1500px;
  padding: 100px;
}

#map-line {
  height: 700px;
}

.map-container {
  height: 750px;
  width: 900px;
}

.store-info h1 {
  font-size: 2.75em;
  margin: 1em 0;
}

.store-info p {
  font-size: 1.75em;
}

#google-maps {
  font-size: 1.75em;
}

}


/* iPhone 6+, 7+, 8+ */
/* Portrait */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {


#map {
  background-image: none;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  padding-bottom: 0;
}

.map-info {
  width: 100%;
  background-color: transparent;
  color: black;
  flex-direction: column;
}

.map-container {
  order: -1;
  width: 80%;
  margin-bottom: 10em;
  height: 600px;
}

#google-maps {
  border: 1px solid black;
  color: black;
  width: 50%;
  padding: 1em 3em;
  margin: 2em auto 4em;
  font-size: 2em;
}

.gmnoprint {
  width: 90%;
}

.store-info {
  width: 80%;
}

.store-info h1 {
  font-size: 3.5em;
}

.store-info p {
  margin-bottom: 3em;
  color: grey;
  font-size: 2em;
}

#map-line {
  height: 0;
}

}

/* Landscape */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {

}


/* iPhone 6, 7, 8 */
/* Portrait */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {


#map {
  background-image: none;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  padding-bottom: 0;
}

.map-info {
  width: 100%;
  background-color: transparent;
  color: black;
  flex-direction: column;
}

.map-container {
  order: -1;
  width: 80%;
  margin-bottom: 10em;
  height: 600px;
}

#google-maps {
  border: 1px solid black;
  color: black;
  width: 50%;
  padding: 1em 3em;
  margin: 2em auto 4em;
  font-size: 2em;
}

.gmnoprint {
  width: 90%;
}

.store-info {
  width: 80%;
}

.store-info h1 {
  font-size: 3.5em;
}

.store-info p {
  margin-bottom: 3em;
  color: grey;
  font-size: 2em;
}

#map-line {
  height: 0;
}

}

/* Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}


/* iPhone 5 */
/* Portrait */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {


#map {
  background-image: none;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  padding-bottom: 0;
}

.map-info {
  width: 100%;
  background-color: transparent;
  color: black;
  flex-direction: column;
}

.map-container {
  order: -1;
  width: 80%;
  margin-bottom: 10em;
  height: 600px;
}

#google-maps {
  border: 1px solid black;
  color: black;
  width: 50%;
  padding: 1em 3em;
  margin: 2em auto 4em;
  font-size: 2em;
}

.gmnoprint {
  width: 90%;
}

.store-info {
  width: 80%;
}

.store-info h1 {
  font-size: 3.5em;
}

.store-info p {
  margin-bottom: 3em;
  color: grey;
  font-size: 2em;
}

#map-line {
  height: 0;
}

}

/* Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}


/* iPhone 4 */
/* Portrait */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {


#map {
  background-image: none;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  padding-bottom: 0;
}

.map-info {
  width: 100%;
  background-color: transparent;
  color: black;
  flex-direction: column;
}

.map-container {
  order: -1;
  width: 80%;
  margin-bottom: 10em;
  height: 600px;
}

#google-maps {
  border: 1px solid black;
  color: black;
  width: 50%;
  padding: 1em 3em;
  margin: 2em auto 4em;
  font-size: 2em;
}

.gmnoprint {
  width: 90%;
}

.store-info {
  width: 80%;
}

.store-info h1 {
  font-size: 3.5em;
}

.store-info p {
  margin-bottom: 3em;
  color: grey;
  font-size: 2em;
}

#map-line {
  height: 0;
}

}

/* Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}
